* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 25px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  height: 10vh;
  background-color: #a72714;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 5px, 0px, 5px, 0px;
  justify-items: center;
  align-items: center;
}

.header-text {
  font-size: 0.6rem;
}

h1 {
  align-self: center;
  font-size: 25px;
}

main {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.form-container {
  position: absolute;
  width: 350px;
  height: min-content;
  background-color: #d0c7c7;
  border-radius: 50px;
}

form{
    display: flex;
    flex-direction: column;
    grid-template-columns: 150px 300px;
    align-self: center;
    justify-self: center;
    font-size: 25px;
    gap: 5px;
    padding: 25px

}

form > #nameOne >input, form > #nameTwo >input, form > #nameThree >input, form > #nameFour >input, form > #nameFive >input {
    width: 160px;
}

form > #btn{
  border-radius: 20px;
  border: 2px solid #a72714;
}

form > #btn:hover{
  scale: 1.1;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
}

form > #btn:active{
  scale: 1.1;
  background-color: rgb(102, 185, 102);
  
}