* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 25px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  height: 10vh;
  background-color: #a72714;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 5px, 0px, 5px, 0px;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.header-text {
  font-size: 0.6rem;
}

h1 {
  align-self: center;
  font-size: 25px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  height: 100%;
  width: 100%;
  padding: 10px 10px 0px 10px;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.form-container {
  position: fixed;
  width: 350px;
  height: min-content;
  background-color: #d0c7c7;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  grid-template-columns: 150px 300px;
  align-self: center;
  justify-self: center;
  font-size: 25px;
  gap: 5px;
  padding: 25px;
}

form > #nameOne > input,
form > #nameTwo > input,
form > #nameThree > input,
form > #nameFour > input,
form > #nameFive > input {
  width: 160px;
}

button:nth-child(6) {
  margin-top: 10px;
}

form > #btn {
  border-radius: 20px;
  border: 2px solid #a72714;
  background-color: azure;
}

form > #btn:hover {
  scale: 1.1;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(102, 185, 102);
}

form > #btn:active {
  scale: 1.1;
}

button {
  transition: 0.6s ease-in-out;
}

.randomButton:hover {
  scale: 1.05;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

/* animations */

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p.animated {
  animation: fadeIn 4s ease-in-out;
}

.card {
  animation: slideInFromLeft 1s ease-in-out, fadeIn 4s ease-in-out;
  
}
